<!doctype html>
<meta charset="utf-8"/>
<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/4.5.1/pixi.min.js"></script>
	<script src="engine.js"></script>
	<script src="events.js"></script>
	<script src="stages/stage1.js"></script>
	<style>

	  .background {
		   background: url("/game.jpg") no-repeat center fixed;
		   background-size: cover;
	 }

		div.game_container {
			width: 800px;
			height: 600px;
			margin: auto;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
		}
	</style>
</head>
<body>
 <body class="background">
	 <div class="game_container" id="game-container">

	 </div>
</body>
</html>
