<!doctype html>
<html>
<head>
	<title>Not Touhou</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<style>
		h1 {
			width: 100%;
			text-align: center;
		}
		
		div.center {
			//display: flex;
			//flex-direction: column;
			justify-content: center;
			text-align: center;
		}
		
		button.login {
			width: 100px;
			margin-bottom: 10px;
		}
		
		input.login {
			width: 200px;
			margin-bottom: 10px;
		}
	</style>
</head>
<body>
	<h1>Not Touhou</h1>
	<div><form action="./login/">
		<div class="center"><input class="login" type="submit" value="Log in"</div>
	</form></div>
	<div><form action="./register/">
		<div class="center"><input class="login" type="submit" value="Register"</div>
	</form></div>
</body>
</html>
