<!DOCTYPE html>
<html>
<head>
    <title>Nottouhou - Drive Authorization</title>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
	<script>
		function start() {
			gapi.load("auth2", () => {
				let auth2 = gapi.auth2.init({
					client_id: "520788856982-o79jg4d27s9ogvs358unqnntiv7k52ah.apps.googleusercontent.com",
					scope: "https://www.googleapis.com/auth/drive.file"
				});
				auth2.grantOfflineAccess().then((authResult) => {
					if (authResult.code) {
						$.post(window.location, {
							authcode: authResult.code
						}, (postResult) => {
							
						});
					} else {
						$("#body").html("Auth request failed.");
					}
				});
			});
		}
	</script>
</head>
<body>

</body>
</html>
