<!doctype html>
<html>
<head>
	<title>Profile - <%=@user.username%></title>
	<style>
		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			overflow: hidden;
			background-color: #FF69B4; //pink
			position: fixed;
			top: 10px;
			border-radius: 10px;
			float: left;
			border: 2px solid #fefefe; //white
		}

		p {
			font-family: sans-serif;
			color: #FC466B; //bluetext
			font-weight: bold;
		}
		li {
			float:left;
		}

		li a {
			display: block;
			color: white;
			text-align: center;
			padding: 14px 16px;
			text-decoration: none;
		}

		li a:hover {
			background-color: #e68db9; //hover light pink
		}

		.background {
			background-image: url("/weeb2.jpg");
			height: 100%;
			background position: center;
			background-repeat:  no-repeat;
			background-size: cover;
		}

		.userProfile {
			border-radius: 50%;
			float: left;
			width: 100px;
			height: 100px;

			background-image: url("/QuestionMark.png");
			background-repeat: no-repeat;
 			background-position: center center;
 			background-size: cover;
		}

		.currentUser {
			border: 2px solid black;
			width: 30%;
			height: auto;
			text-align: center;
			float: right;
			border-radius: 10px;
			margin: auto;
		}
    	.container {
      		border: 2px solid black;
      		background-color: black;
     		width: 90%;
			height: 65%;
			margin: auto;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
    	}
	</style>
</head>
<body class="background">
	<div>
		<ul>
			<li><a>Campaign</a></li>
			<li><a>Replays</a></li>
			<li><a href="/highscores"> Hi-Scores</a></li>
			<li><a>Coop</a></li>
			<li><a>Message Board</a></li>
			<li><a href="/logout">Log Out</a></li>
		<ul>
	</div>
	<div class="currentUser">
		<div class="userProfile"></div>
		<p><%= @user.username %></p>
	</div>
  <div class="container">
		<div class="spacing">
		</div>
	</div>
</body>
</html>
